<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.islet.mapper.mail.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.islet.model.mail.Task">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="conn_status" property="connStatus" />
        <result column="conn_exception_reason" property="connExceptionReason" />
        <result column="port" property="port" />
        <result column="host" property="host" />
        <result column="has_ssl" property="hasSsl" />
        <result column="type" property="type" />
        <result column="monitoring" property="monitoring" />
        <result column="emphasis" property="emphasis" />
        <result column="description" property="description" />
        <result column="read_number" property="readNumber" />
        <result column="un_read_number" property="unReadNumber" />
        <result column="sensitive_number" property="sensitiveNumber" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_name" property="updateName" />
        <result column="update_time" property="updateTime" />
        <result column="removed" property="removed" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_id, create_name, create_time, update_id, update_name, update_time, email, password, conn_status, conn_exception_reason, port, host, has_ssl, type, monitoring, emphasis, description, read_number, un_read_number, sensitive_number
    </sql>

</mapper>
